* { 
	margin : 0; 
	padding : 0; 
}

body {
	font-family: 'Roboto Slab';
	font-weight: 100;
	font-size : 24px;
	text-align : center;
	color: #FFFFFF;
	/*color: #FFF6F2;*/
}

section {
	width : 100%;
	overflow : auto;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans';
}

h1 {
	font-size : 120px !important;
	text-shadow: 0px 0px 2px #DEB3B3;
	letter-spacing: 7px;
	font-weight: 700;
}

h2 {
	margin : 40px auto;
	font-size : 48px;
	color: #FFFFFF;
	text-align: left;
	font-weight: 400;
}

h3 {
	margin : 20px auto;
	font-size : 32px;
	color: #FFFFFF;
	font-weight: 400;
}

h4 {
	font-family: 'Roboto Slab';
	font-weight: 100;
}

form {
	margin : 0 auto !important;
	width : 320px;
	text-align : center;
}

table {
	table-layout : fixed;
}

input {
	height : 48px;
	vertical-align : middle;
}

button, input, .location {
	border-radius : 3px;
}

button:focus, button:active, button.active, button:focus:active {
	background-image : none;
	outline : none;
	box-shadow : none;  
	-webkit-box-shadow : none;
	-moz-box-shadow : none;
}

ul, ol {
	list-style-type : none;
}

p {
	margin : 20px auto;
	width : 720px;
}

a {
	color : #FFFFFF;
    text-decoration : none;
}

.content {
	margin : 80px auto;
	width : 1000px;
	clear : none;
}

#join .content {
	margin-bottom : 40px;
}

#info .content, #faq .content {
	width : 720px;
	text-align : left;
}

#landing {
	background-color : #e26a6a;
	background-image : url(http://www.transparenttextures.com/patterns/arches.png);
}

#landing, #info, #join, #faq {
	min-height : 100vh;
}

#landing {
	text-align : center;
	display : table;
}

#landing .content {
	display : table-cell;
	vertical-align : middle;
}

#info {
	background-color : #434B59;
	color : #FFFFFF;
}

#join {
	background-color : #FFFFFF;
}

#join h2 {
	text-align : center;
}

#join h2, #host h3, #host h4, #thanks {
	font-weight : normal;
	color : #434B59;
}

#events #sf {
	background : url("../img/sf.jpg") no-repeat center;
}

#events #aa {
	background : url("../img/aa.jpg") no-repeat center;
}

#events #la {
	background : url("../img/la.jpg") no-repeat center;
}

#events #ny {
	background : url("../img/nyc.jpg") no-repeat center;
}

#events #bo {
	background : url("../img/bos.jpg") no-repeat center;
}

#events #ch {
	background : url("../img/chi.jpg") no-repeat center;
}

#events #po {
	background : url("../img/po.jpg") no-repeat center;
}

#events #nh {

	background : url("../img/nh.jpg") no-repeat center;
}

.location {
	margin : 10px;
	width : 300px;
	height : 400px;
	display : inline-block;
	background-size : cover !important;
	vertical-align : top;
}

.details {
    position : relative;
  	top : 50%;
  	transform : translateY(-50%);
}

.dates {
	font-size : 48px;
	font-family : 'Roboto';
	display : none;
}

.dates h4 {
	transition : font-size 500ms;
	-webkit-transition : font-size 500ms;
	-moz-transition : font-size 500ms;
	-o-transition : font-size 500ms;
	-ms-transition : font-size 500ms;
}

.dates h4:hover {
	font-size : 52px;
}

#host {
	margin : 80px 0 40px 0;
	text-align : center;
}

#join h4 {
	font-family : 'Open Sans', sans-serif; 
}

#host h3, #host h4, #contact h3, #contact h4 {
	margin : 0px;
}

#thanks {
	font-size : 18px;
	margin-top : 100px;
	opacity : 0;
}

#faq {
	background-color : #e26a6a;
}

#contact {
	background : #434B59;
	padding : 40px 0px;	
}

#contact h3 {
	font-size : 24px;
}

#contact h4 {
	font-size : 18px;
}

#landing button {
	border : 2px solid #FFFFFF;
	color : #FFFFFF;
}

#landing button:hover {
	background : #FFFFFF;
	color : #e26a6a;
}

button, input[type="submit"] {
	font-family : 'Open Sans', sans-serif; 
	font-size : 20px !important;
	text-transform : uppercase;
	width : 320px;
	height : 50px;
	transition : color 0.50s, background 500ms;
	-webkit-transition : color 0.50s, background 500ms;
	-moz-transition : color 0.50s, background 500ms;
	-o-transition : color 0.50s, background 500ms;
	-ms-transition : color 0.50s, background 500ms;
}

button, input[type="text"], input[type="submit"] {
	margin : 24px auto 0px auto !important;
	display : block;
	outline : none;
	background : transparent;
	border : 2px solid #434B59;
	color : #434B59;
}

input[type="submit"] {
	background : #FFFFFF url("../img/arrow_gray.png") no-repeat center 7px;
	margin : 24px 0px 0px 268px !important;
	width : 56px !important;
	height : 42px;
	position : absolute;
}

input[type="submit"]:hover {
	background : #434B59 url("../img/arrow_white.png") no-repeat center 7px;
	color : #FFFFFF;
}

input[type="text"] {
	width : 320px;
	height : 38px;
	text-align : center;
	float : left;
}

form input::-webkit-input-placeholder, form input:-moz-placeholder, form input::-moz-placeholder, form input:-ms-input-placeholder {
	font-family : 'Open Sans', sans-serif !important; 
	font-size : 12px;
	color : #434B59;
	opacity : 50%;	
}







